/* 
    定义scss常量
 */
$sass-width: 100px;
$sass-height: 50px;
$sass-border: 1px solid #d31145;
$sass-color: #d31145;
$sass-textAlign: center;
$sass-background: white;
$sass-borderRadius: 4px;
$sass-pointer: pointer;
$large-size: 24px;
