/* 
    用于放置项目中自己封装的一些常用的样式，class类名，比如flex布局，定位，字体等等
 */
@import "./constant.scss";

.l-size {
  font-size: $large-size;
}

.r-color {
  color: $sass-color;
}

@mixin justifyCenter {
  display: flex;
  justify-content: center;
}

@mixin justifyCenter {
  display: flex;
  justify-content: center;
}

@mixin rounded($max, $line, $color) {
  border: $max $line $color;
}
